h1.flashy {
font-style: italic;
color: red;
}
h2 {
  font-family: sans-serif;
  font-weight: bold;
  width: 50%;
  font-style: italic;
  color: grey;
}
p.seasons {
font-weight: bold;
width: 50%;
}


li.best {
  font-style: italic;
  color: orange;
  font-size: 20px;
}

.boring {
  color: pink;
}
.main {
  float: left;
  color: powderblue;
}
.column {
  width: 50%;
  float: left;
}
.sidebar {
  float: right;
  height: 350px;
  width: 25%;
  background-color: powderblue;
  margin: 30px;
  border: 10px solid blue;
  padding: 12px;
}
img {
    height: 100px;
    width: 200px;
    background-color: powderblue;
    margin: 5px;
    border: 10px solid grey;
    padding: 3px;
}
.my-class {
  margin: 30px;
  border: 10px solid blue;
  padding: 12px;
  background-color: pink;
  width: 60%;

}
